[MASTER]
load-plugins=pylint_django
django-settings-module=backend.settings
disable=missing-module-docstring, missing-class-docstring, missing-function-docstring, too-many-ancestors, unnecessary-pass
ignore=migrations
